h1 {
  color: #93c9d3;
  font-family: "Delius", cursive;
  margin-top: 15px;
}

li {
  list-style-type: none;
}

li p {
  font-size: 18px;
}

.numbers {
  font-size: 20px;
  color: #ff7f50;
}

li a {
  color: blue;
}

.heading {
  margin-top: 50px;
  color: #93c9d3;
}
