.heading {
  color: #93c9d3;
  font-family: "Delius", cursive;
  margin-top: 15px;
}

@media screen and (max-width: 420px) {
  .heading {
    font-size: 35px;
  }
}

.heading2 {
  color: #93c9d3;
  font-family: "Delius", cursive;
}

ol {
  padding-inline-start: 0;
  padding-top: 10px;
}

li {
  list-style-type: none;
}

li p {
  font-size: 18px;
}

#first-paragraph {
  padding-bottom: 30px;
}

#last-paragraph {
  padding-bottom: 50px;
}

.volunteer-heading {
  padding-top: 10px;
}

.numbers {
  font-size: 20px;
  color: #ff7f50;
}

li a {
  color: blue;
}
