.hero {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("beagle2.jpg") white no-repeat;
  height: 100%;
  background-size: cover;
}

@media screen and (max-width: 1000px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url("beagle-1000.jpg") white no-repeat;
  }
}

@media screen and (max-width: 795px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url("beagle-640.jpg") white no-repeat;
  }
}

@media screen and (max-width: 640px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url("beagle-640.jpg") white no-repeat;
    background-position-x: center;
  }
}

@media screen and (max-width: 485px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url("beagle-485.jpg") white no-repeat;
    background-position-x: center;
  }
}

@media screen and (max-width: 388px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url("beagle-380.jpg") white no-repeat;
    background-position-x: center;
    background-position-y: top;
  }
}

.hero-text {
  font-size: 65px;
  /* text-shadow: 1px 1px 1px #000; */
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  margin-top: 350px;
  margin-left: 250px;
  font-family: "Delius", cursive;
  font-weight: bold;
}

@media screen and (max-width: 1450px) {
  .hero-text {
    font-size: 55px;
  }
}

@media screen and (max-width: 1200px) {
  .hero-text {
    font-size: 52px;
  }
}

@media screen and (max-width: 1000px) {
  .hero-text p {
    font-size: 48px;
    text-align: center;
  }
}

@media screen and (max-width: 795px) {
  .hero-text {
    font-size: 45px;
    margin-top: 320px;
  }
}

@media screen and (max-width: 640px) {
  .hero-text {
    text-align: center;
    align-items: center;
    margin: 0 auto;
    font-size: 40px;
  }
}

@media screen and (max-width: 485px) {
  .hero-text {
    font-size: 35px;
  }
}

@media screen and (max-width: 388px) {
  .hero-text {
    margin-top: 280px;
    margin: 0 auto;
  }
}
