.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("beagle2.jpg") white no-repeat;
  height: 100%;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url("beagle-1000.jpg") white no-repeat;
  }
}

@media screen and (max-width: 1000px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url("beagle-1000.jpg") white no-repeat;
  }
}

@media screen and (max-width: 795px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url("beagle-640.jpg") white no-repeat;
  }
}

@media screen and (max-width: 640px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url("beagle-640.jpg") white no-repeat;
    background-position-x: center;
  }
}

@media screen and (max-width: 485px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url("beagle-485.jpg") white no-repeat;
  }
}

@media screen and (max-width: 425px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url("beagle-411(2).jpg") white no-repeat;
    background-position-y: top;
  }
}

@media screen and (max-width: 388px) {
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
      url("beagle-380.jpg") white no-repeat;
    background-position-y: top;
  }
}

.hero-text-mobile {
  display: none;
  font-size: 50px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  font-family: "Delius", cursive;
  font-weight: bold;
  margin-top: 400px;
}

.hero-text {
  font-size: 65px;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
  margin-top: 350px;
  margin-left: 250px;
  font-family: "Delius", cursive;
  font-weight: bold;
}

@media screen and (max-width: 1450px) {
  .hero-text {
    font-size: 55px;
  }
}

@media screen and (max-width: 1200px) {
  .hero-text {
    font-size: 52px;
    margin-left: 150px;
  }
}

@media screen and (max-width: 795px) {
  .hero-text {
    font-size: 45px;
    margin-top: 320px;
    margin-left: 75px;
  }
}

@media screen and (max-width: 768px) {
  .hero-text {
    font-size: 40px;
    margin-left: 0;
    margin-right: 320px;
  }
}

@media screen and (max-width: 640px) {
  .hero-text {
    display: none;
  }
  .hero-text-mobile {
    display: inline-block;
  }
}

@media screen and (max-width: 600px) {
  .hero-text-mobile {
    font-size: 45px;
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 420px) {
  .hero-text-mobile {
    font-size: 40px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 350px;
  }
}

@media screen and (max-width: 320px) {
  .hero-text-mobile {
    font-size: 40px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 310px;
  }
}
