container {
  width: 100%;
  /* margin: 0 auto; */
}

header {
  background: #93c9d3;
  color: white;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
}

.mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  nav li {
    font-size: 25px;
  }
}

@media screen and (max-width: 768px) {
  .left-contact {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .left-contact li {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .right-social li {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .mobile li {
    padding: 30px;
    font-size: 25px;
  }
}

@media screen and (max-width: 450px) {
  .mobile li {
    padding: 15px;
    font-size: 20px;
  }
}

#top-nav li a {
  color: white;
}

#top-nav li a:hover {
  color: #ff7f50;
  text-decoration: none;
}
